# Firefox profile cache e dados gerados automaticamente
profiles/*
!profiles/normal/
!profiles/vpn/
!profiles/tor/

profiles/normal/*
!profiles/normal/chrome/
!profiles/normal/user.js

profiles/vpn/*
!profiles/vpn/chrome/
!profiles/vpn/user.js

profiles/tor/*
!profiles/tor/chrome/
!profiles/tor/user.js

profiles/*/chrome/*
!profiles/*/chrome/userChrome.css
